.panel-heading.panel-heading__project {
  color: #00d1b2 !important;

  border: 1px solid #00d1b2;
  background-color: #00d1b20d !important;
}

.task-input:hover,
.task-input:target,
.task-input:active,
.task-input:focus,
.task-input {
  border: none !important;
  outline: none !important;
  border-radius: 0 !important;
  border-color: transparent !important;
  box-shadow: none !important;
  background-color: transparent !important;
}

.task-input__container {
  border: 1px solid #00d1b2 !important;
  border-top: none !important;
  background-color: #efe27b1a;
}

.panel-heading .remove-icon {
  opacity: 0;
  transition: all 300ms ease-in-out;
}
.panel-heading:hover .remove-icon {
  opacity: 1;
}

textarea.auto-resize {
  overflow: hidden;
  resize: none;
  min-height: 1.5em;
  line-height: 1.5;
}
